<footer class="footer">
  <div class="box-container">
    <div class="box">

      <h3>MY PAZAR <i class="fa fa-shopping-bag"></i></h3>
      <p> SOCIAL MEDIA </p>

      <div class="share">
        <a href="#" class="fab fa-facebook"> </a>
        <a href="#" class="fab fa-instagram"> </a>
        <a href="#" class="fab fa-twitter"> </a>

      </div>
    </div>

    <div class="box">

      <h3> Contact info </h3>

      <a href="#" class="links" > <i class="fa fa-phone"></i> +9905522970453 </a>
      <a href="#" class="links" > <i class="fa fa-envelope"></i> mypazar@gmail.com </a>
      <a href="#" class="links" > <i class="fa fa-map-marker"></i> Turkey,Istanbul</a>

    </div>


    <div class="box">

      <h3> Links </h3>

      <a href="main.html" class="links"> <i class="fa fa-arrow-right"></i> Home </a>
      <a href="Aboutus.html" class="links"> <i class="fa fa-arrow-right"></i> AboutUS </a>
      <a href="#" class="links"> <i class="fa fa-arrow-right"></i> Contact us  </a>
      <a href="#" class="links"> <i class="fa fa-arrow-right"></i> seller </a>
      <a href="#" class="links"> <i class="fa fa-arrow-right"></i> Categories </a>
      <a href="#" class="links"> <i class="fa fa-arrow-right"></i> FAQ </a>

    </div>

    <div class="box">

      <h3> For more information </h3>

      <p>Send us email regarding your question </p>

      <input type="email" placeholder="Enter your email" class="email">
      <input type="Submit" value="send" class="button">

    </div>


  </div>
</footer>