<header class="header" id="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <a th:href="@{/}" class="logo"> <i class="fas fa-shopping-bag"></i> Pazar </a>

    <nav class="navbar">

        <a th:href="@{/home}">Home</a>
        <a th:href="@{/aboutUs}">About Us</a>
        <a th:href="@{/categories}">categories</a>
        <a th:href="@{/sellerInfo}">Sellers</a>
        <a th:href="@{/FAQ}">FAQ</a>
        <a th:href="@{/contactUs}">Contact Us</a> |

    </nav>

    <div class="icons">
        <div class="fa fa-bars" id="Menu-button"></div>
        <div class="fa fa-search" id="search-button"></div>
        <div class="fa fa-shopping-cart" id="cart-button" th:if="${#authorization.expression('isAuthenticated()')}"></div>
        <div class="dropdown" th:if="${#authorization.expression('isAuthenticated()')}">
            <div class="fa fa-user" id="user-icon"></div>
            <ul class="droplist">
                <a th:href="@{/customer/settings/profile}"><li class="item"><i class="fas fa-edit"></i><p>Profile</p></li></a>
                <a th:href="@{/customer/settings/order}"><li class="item"><i class="fas fa-clipboard-list"></i><p>My Orders</p></li></a>
                <a th:href="@{/customer/settings/previousOrder}"><li class="item"><i class="fas fa-history"></i><p>Previous Orders</p></li></a>
                <a th:href="@{/customer/settings/setting}"><li class="item"><i class="fas fa-cog"></i><p>setting</p></li></a>
                <a th:href="@{/logout}"><li class="item"><i class="fas fa-sign-out-alt"></i><p>log out</p></li></a>
            </ul>
        </div>
        <a th:href="@{/customer/login}" th:unless="${#authorization.expression('isAuthenticated()')}">
            <div class="fa fa-user" id="login-button"></div>
        </a>
    </div>

    <form class="search-form">
        <input type="search" id="search-box" placeholder="search">
        <label for="search-box"class="fa fa-search"> </label>
    </form>

    <div class="cart">

        <!--ADD ITEMS TO THE CART -->
        <div class="box">
            <i class="fa fa-trash"> </i>
            <img th:src="@{/static/Image/downlo11ad.jpg}">
            <div class="content">
                <h3> Banana </h3>
                <span class="price">$4.5/-</span>
                <span class="Quantity">item No: 1</span>
            </div>
        </div>

        <!-- end of cart -->

        <div class="total"> Total : $18.97 </div>
        <a href="#" class="button"> Proceed </a>

    </div>
</header>