<head xmlns:th="http://www.w3.org/1999/xhtml">
    <div id="mySidenav" class="sidenav">
        <p class="logo"><span>PAZARISTA</span></p>
        <a href="customers.html" class="icon-a"><i class="fa fa-users icons"></i> Customers</a>
        <a href="analytics.html" class="icon-a"><i class="fas fa-chart-line"></i> Analytics</a>
        <a href="#" class="icon-a"><i class="fa fa-shopping-bag icons"></i> Orders</a>
        <a href="review.html" class="icon-a"><i class="fas fa-comments icons"></i> Reviews</a>
        <a th:href="@{/seller/showProducts}" class="icon-a"><i class="fas fa-shopping-basket icons"></i> Products</a>
        <a href="financials.html" class="icon-a"><i class="fas fa-money-bill-alt icons"></i> Financials</a>
        <a th:href="@{/logout}" class="icon-a"><i class="fa fa-sign-out-alt icons"></i> Logout</a>
    </div>
</head>
