<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pazar</title>
  <link th:href="@{https://fonts.googleapis.com/css?family=Poppins&display=swap}" rel="stylesheet">
  <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.0.8/css/all.css}" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" th:href="@{static/css/stylesheet.css}">
  <link rel="stylesheet" type="text/css" th:href="@{static/css/aboutus.css}">
</head>

<body>
<div th:replace="~{fragments/header :: header}"></div>

  <section id="about">
    <div class="aboutus">
      <img th:src="@{static/Image/aboutus2.jpg}" alt="About Us Image">
      <div class="content">
        <h1> WHY PAZARITSA?</h1>
        <p>Online market websites provide a platform for users to buy and sell products and services online from the comfort of their own homes.</p>

        <div class="button-container">
          <a href="#team"><button class="readmore-button">Read More</button></a>
        </div>

      </div>
    </div>
  </section>

  <section id="team" class="team">
    <div class="ourteam">
      <h1> MEET THE TEAM</h1>
    </div>
    <div class="team-content">
      <div class="box">
        <img th:src="@{Image/lama.jpg}">
        <h3> Lama samra </h3>
        <h5> Front-End Web developer </h5>
      </div>
      <div class="box">
        <img th:src="@{Image/shruq.jpg}">
        <h3> Shurooq</h3>
        <h5> Front-End Web Developer </h5>
      </div>
    </div>
  </section>

<div th:replace="~{fragments/footer :: footer}"></div>
<script type="text/javascript" th:src="@{static/js/app.js}"></script>
</body>
</html>
