<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact Us</title>
    <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.0.8/css/all.css}">
    <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.0.8/css/all.css}" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/headerFooter.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/contactus.css}">
</head>

<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="main-page">
    <div class="new-container">
        <div class="new-content">
            <div class="new-image-box">
                <img th:src="@{/static/Image/contactus1.jpg}" alt="">
            </div>
            <form action="#">
                <div class="new-topic">Send us a message</div>
                <div class="new-input-box">
                    <input type="text" name="name" placeholder="Name">
                </div>
                <div class="new-input-box">
                    <input type="text" name="name" placeholder="Email">
                </div>
                <div class="new-input-box">
                    <input type="text" name="phone" placeholder="Phone no">
                </div>
                <div class="new-message-box">
                    <input type="text" name="name" placeholder="Message">
                </div>
                <div class="new-input-box">
                    <input type="submit" value="Send Message">
                </div>
            </form>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
<script th:src="@{/static/js/app.js}"></script>
<script type="text/javascript" th:src="@{/static/js/header.js}"></script>
</body>
</html>