<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pazar</title>
    <link rel="stylesheet" type="text/css" th:href="@{static/css/stylesheet.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css}" />
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div th:replace="fragments/footer :: footer"></div>
<script type="text/javascript" th:src="@{static/js/app.js}"></script>
</body>
</html>