<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link th:href="@{https://fonts.googleapis.com/css?family=Poppins&display=swap}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.0.8/css/all.css}" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/loginForm.css}">
</head>
<body>
<div class="container4" id="container4">
    <div class="form-container seller-container">
        <form action="">
            <h1> Sign up </h1>
            <span>or signup with your account</span>
            <div class="social-media">
                <a href="#" class="social"><i class="fab fa-facebook"></i></a>
                <a href="#" class="social"><i class="fab fa-google"></i></a>
                <a href="#" class="social"><i class="fab fa-twitter"></i></a>
            </div>
            <input type="text" name="name" placeholder="Name">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <input type="password" name="password" placeholder="Confirm Password">
            <input type="phone" name="phone" placeholder="Phone no">
            <button> Signup </button>
        </form>
    </div>
    <div class="form-container buyer-container">
        <form th:action="@{/login}" method="post">
            <h1>Login</h1>
            <div class="social-media">
                <a href="#" class="social"><i class="fab fa-facebook"></i></a>
                <a href="#" class="social"><i class="fab fa-google"></i></a>
                <a href="#" class="social"><i class="fab fa-twitter"></i></a>
            </div>
            <span>or login with your account</span>
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <a href="" class="forget-password">Forget Password</a>
            <input type="submit" value="Log in" class="">
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1 class="signup-heading">Login</h1>
                <button class="btn1" id="logInBuyer">Login</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1 class="signup-heading">Sign up</h1>
                <button class="btn1" id="logInSeller">Sign up</button>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/static/js/sellerbyerlogin.js}"></script>
</body>
</html>
