<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Seller Dashboard</title>
  <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/static/css/sellerProducts.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/static/css/sellerHeader.css}">
</head>
<body>
<div th:replace="~{fragments/sellerHeader :: div}"></div>

<div class="main-seller-page">
  <section class="centered-section">
    <ul class="product-list">
      <li th:each="product :${products}">
        <div class="product-image">
          <img th:src="${product.pic}" alt="Product 1">
        </div>
        <div class="product-details">
          <h3 th:text="${product.name}"></h3>
          <p th:text="'Stock: '+${product.count}"></p>
          <p th:text="'Sold: '+${product.sold}"></p>
          <p th:text="'Price: '+ ${product.price}+'TL'"></p>
          <p>
            Revenue:
            <span th:text="${product.price}*${product.sold}+'TL'">  </span>
          </p>
          <button>Edit</button>
          <button id="restock1">Restock</button>
        </div>
      </li>
    </ul>
    <a th:href="@{/seller/addProduct}" id="add-product">Add Product</a>
  </section>
</div>
</body>
</html>
