<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Seller Dashboard</title>
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/addProduct.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/sellerHeader.css}">
</head>
<body>
<div th:replace="~{fragments/sellerHeader :: div}"></div>

<div class="main-seller-page">
    <form method="post" th:action="@{/seller/addProduct}" enctype="multipart/form-data">
        <table class="productTableForm">
            <tr>
                <td>
                    <input class="productInput" type="text" id="productName" name="name" placeholder="Product name">
                </td>
                <td>
                    <textarea class="productInput" id="productDescription" name="description" placeholder="Product Description"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <input class="productInput" type="number" id="productPrice" name="price" placeholder="Product Price" min="1">
                </td>
                <td>
                    <input class="productInput" type="number" id="productStock" name="count" placeholder="Product Stock" min="0">
                </td>
            </tr>
            <tr>
                <td>
                    <select  class="productInput" type="text" id="productUnit" name="unit" placeholder="Unit">

                        <option th:each="unit:${units}" th:value="${unit}" th:text="${unit.toString}"></option>
                    </select>
                </td>
                <td>
                    <select class="productInput" id="productState" name="state" placeholder="Product State">
                        <option th:each="state : ${states}" th:value="${state}" th:text="${state}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <input class="productInput" type="text" id="productCode" name="code" placeholder="Product code">
                </td>
                <td>
                    <input type="file" id="productImage" name="productPic" >
                </td>
            </tr>
            <tr>
                <td>
                    <select class="productInput" id="species" name="species">
                        <option th:each="species: ${speciesList}" th:value="${species.id}" th:text="${species.name}"></option>
                    </select>
                </td>
            </tr>
        </table>
        <button style="float: right" type="submit">Upload Product</button>
    </form>
</div>
</body>

</html>

