<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Species</title>
    <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.0.8/css/all.css}">
    <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.0.8/css/all.css}" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/stylesheet.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/Species.css}">
</head>

<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="main-page">
    <div class="Species-header">
    <h3>Shop with <span> our category </span> </h3>
    <p>variety's the very spice of life, That gives it all its flavor.</p>
</div>

    <div class="MainContainer">
        <a class ="Species-container" th:each="species : ${speciesList}" th:href="@{'/{speciesName}/products'(speciesName=${species.name})}">
            <div class="Speciesimg">
            </div>
            <div class="Speciestitle">
                <h2 th:text="${species.name}"> </h2>
            </div>
        </a>
    </div>

    <div class="Species-footer">

</div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
<script th:src="@{/static/js/app.js}"></script>
</body>

</html>