<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.0.8/css/all.css}">
    <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.0.8/css/all.css}" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/headerFooter.css}">
  <style>
        .thank-you-container {
            text-align: center;
            margin-top: 100px;
        }

        .thank-you-container h1 {
            color: #333;
            font-size: 32px;
        }

        .thank-you-container p {
            color: #666;
            font-size: 18px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="main-page">
  <div class="thank-you-container">
    <h1>Thank You!</h1>
    <p>Your message has been sent successfully.</p>
  </div>
</div>
</body>
</html>
