#invoice-POS {
   box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
   padding: 2mm;
   margin: 0 auto;
   min-width: 20%;
   max-width: 30%;
   min-height: 50vh;
   background: #fff;
   display: flex;
   flex-direction: column;
}
 #invoice-POS ::selection {
   background: #f31544;
   color: #fff;
}
 #invoice-POS ::moz-selection {
   background: #f31544;
   color: #fff;
}
 #invoice-POS h1 {
   font-size: 2.5em;
   color: #222;
}
 #invoice-POS h2 {
   font-size: 0.9em;
}
 #invoice-POS p {
   font-size: 0.5em;
   color: #666;
   line-height: 1.2em;
}
 #invoice-POS #top, #invoice-POS #mid, #invoice-POS #bot {
   border-bottom: 1px solid #eee;
}
 #invoice-POS #top {
   min-height: 50px;
}
 #invoice-POS #mid {
   min-height: 20%;

}
 #invoice-POS #bot {
   min-height: 50px;
   padding-bottom: 5px;
}
 #invoice-POS .info {
   display: block;
   margin-left: 0;

}
 #invoice-POS .title {
   float: right;
}
 #invoice-POS .title p {
   text-align: right;
}
 #invoice-POS table {
   width: 100%;
   border-collapse: collapse;
}
 #invoice-POS .tabletitle {
   background: #eee;
}
 #invoice-POS .service {
   border-bottom: 1px solid #eee;
}
 #invoice-POS .item {
   width: 24mm;
}
 #invoice-POS .itemtext {
   font-size: 1.3em;
}
 #invoice-POS #legalcopy {
   margin-top: 5mm;
}
